name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        size: [1G,10G]
    steps:
    - uses: actions/checkout@v2
    - name: Use Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.10.7
    - run: pip install indexed-gzip
    #- run: fallocate -l $SIZE temp_file
    - run: head -c $SIZE </dev/urandom >temp_file
      env:
        SIZE: ${{ matrix.size }}
    #- run: gzip -k temp_file
    - run: python tst-index.py
